:root {
    /* --- COLORS --- */

    /* backgrounds (dark to light) */
    --bg-sidebar: #1e1f22;  
    --bg-channels: #2b2d31;
    --bg-chat: #313338;
    --bg-input: #383a40;
    --bg-modifier-selected: #404249;

    /* Accent colors */
    --brand-color: #5865f2;
    --brand-color-hover: #4752c4;
    --success-color: #23a559;
    --danger-color: #da373c;
    --warning-color-muted: #fa777a;
    --warning-color: #faa61a;

    /* Text */
    --text-normal: #dbdee1;
    --text-muted: #949ba4;
    --text-header: #ffffff;
    --text-footer: #b5bac1;
    --text-link: #00a8fc;

    /* --- SIZES AND RADIUS --- */

    --radius-avatar: 50%;
    --radius-server: 16px;
    --radius-input: 8px;

    --sidebar-width: 72px;
    --channel-list-width: 240px;
}