.app-container {
  display: flex;
  height: 100vh;
  background-color: #f0f0f0;
  color: #333;
}

.chat-area {
  flex: 1; 
  display: flex;
  flex-direction: column;
  background-color: white;
}

.message-container {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 8px 20px;
}

.message-profile {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.input-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

input {
  width: 100%;
  max-width: 800px;
  height: 62px;
  border-radius: 18px;
  border: none;
  background: #B9B9B9;
  padding: 0 15px;
  
}